<% layout('layouts/boilerplate') %>
<div class="container mt-5">
<%- include('../partials/flash')%>
<div class="row">
	<h1 class="text-center">New Campground</h1>
	<div class="col-md-6 offset-md-3">
		<form class="validated-form" action="/campgrounds" method="POST" novalidate enctype="multipart/form-data">
			<!-- Everything in the req.body will be stored under campground[] -->
			<div class="mb-3">
				<label class="form-label" for="title">Title: </label>
				<input
					class="form-control"
					id="title"
					type="text"
					name="campground[title]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="location">Location: </label>
				<input
					class="form-control"
					id="location"
					type="text"
					name="campground[location]"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
		


			<div class="mb-3">
				<label for="basic-addon1" class="form-label">Campground Price</label>

				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">$</span>
					<input
						type="Number"
						class="form-control"
						aria-describedby="basic-addon1"
						value="0.00"
						name="campground[price]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="description">Description: </label>
				<textarea
					class="form-control"
					id="description"
					type="text"
					name="campground[description]"
					required
				>
				</textarea>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label for="image">Upload Image(s):</label>
			<div class="custom-file">
				<input type="file" name="image" multiple class="custom-file-input" id="image" required>
				<label class="custom-file-label" for="image">Choose Image(s)...</label>
			  </div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success" type="submit">Add Campground</button>
			</div>
		</form>
		<a href="/campgrounds">All campgrounds</a>
	</div>

</div>
</div>
